
<style>
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
</style>

<nav class="navbar">
  <a routerLink="/ej1">Ejercicio 1</a>
  <a routerLink="/ej2">Ejercicio 2</a>
  <a routerLink="/ej3">Ejercicio 3</a>
  <a routerLink="/ej4">Ejercicio 4</a>
  <a routerLink="/ej5">Ejercicio 5</a>
  <a routerLink="/ej6">Ejercicio 6</a>
  <a routerLink="/ej7">Ejercicio 7</a>
</nav>




<router-outlet></router-outlet>
