.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

h3 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.btn{
	margin: 5pt;
}
