input {
  margin-left: 5px;
}

.menu {
  flex: 1;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

h3 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.btn {
  margin: 5pt;
}

.btn.form {
  border: 1pt solid;
}

.separador {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 3px solid #bbb;
}

#e3 {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
#botonEjercicio3 {
  position: absolute;
  bottom: 0;
  border: 1px solid #000;
}
